@import('nib')
importAll('./vendors')
importAll('./globals')
importAll('./atoms')
importAll('./molecules')
importAll('./organisms')

global-reset()

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  prefix(tap-highlight-color, rgba(0,0,0,0))

body
  font-family: $fontMain
  font-size: 16px
  line-height: 1.4em
  font-weight: 400
  color: $black

h1
  font-size: 3em
  line-height: 1.3em
  font-weight: 700
  margin-bottom: 0.15em

h2
  font-size: 2em
  line-height: 1.3em
  font-weight: 400
  margin-bottom: 0.6em
